* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    display: flex;
    padding: 20px;
    height: 120px;
    margin-bottom: 15px;
    background-color: gold;
    box-shadow: inset 0 0 1em gold, 0 0 1em red;
}

#logo {
    flex: 1 1 auto;
    align-items: center;
}
#logo-img {
    margin-left: 25%;
}
#logo-name {
    flex: 1 1 auto;
    text-align: center;
    margin-top: 1%;
}

.container {
    display: flex;
    flex-direction: row;
    width: 900px;
    
}

/* Timer*/
#memoria #timer {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 36pt;
    font-weight: bold;
    text-align: center;
    background-color: lightgray;
    border-radius: 10px;
}

#aside, #nav {
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 1em gold, 0 0 1em red;
}

#section {
    width: 500px;
    flex-grow: 4;
    padding: 10px;
    text-align: center;
    box-shadow: inset 0 0 1em gold, 0 0 1em red;
}

/* Cards Memomry */
#memoria {
    width: 100%;
}

#memoria img {
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
}

#rodape {
    text-align: center;
}

/* Scores */

#scores {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#box-title {
    text-align: center;
    flex: 1 1 auto;    
    position: relative;
    margin-left: -10px;
}

.title {
    position: absolute;
    top: 40%;
    left: 20%;
}
    
#box {
    flex: 0.5 0.5 auto;
    margin-left: 35%;
    margin-top: 10%;
}

#box-temp {
    flex: 4 1 auto;
}